.container {
  margin: 0;
  margin-bottom: 40px;
}

.container p {
  color: var(--body-text);
  margin: 0;
  margin-bottom: 24px;
}

.image_container {
  margin: 0 auto;
  height: 287.94px;
  width: 287.94px;
  border: 1px solid #000;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: zoom-in;
}

.image_container img {
  max-width: 247.74px;
  max-height: 226.98px;
  transition: 0.1s var(--easing-curve);
}

@media only screen and (min-width: 1280px) {
  .container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 78px;
  }

  .flex_reverse {
    flex-direction: row-reverse;
  }

  .container p {
    max-width: 568px;
    margin: 0;
  }

  .image_container {
    width: 493.65px;
    height: 247px;
    margin: 0;
  }
}
