.container {
  margin-top: 92px;
  margin-left: auto;
  margin-right: auto;
  width: 288px;
  height: 216px;
  border: 1px solid #000;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 253.76px;
  height: 190.32px;
}

@media only screen and (min-width: 1280px) {
  .container {
    width: 1160px;
    height: 580px;
  }

  .image {
    width: 770.71px;
    height: 578.03px;
  }
}
