.container {
  margin-bottom: 30px;
}

.container:last-child {
  margin: 0px;
}

.title {
  text-transform: uppercase;
  color: #0047ff;
  margin: 0;
}

.description_container {
  display: flex;
  align-items: center;
}
