.container {
  margin: 0;
  margin-bottom: 40px;
}

.container:last-child {
  margin-bottom: 0;
}

.container p {
  color: var(--body-text);
  margin: 0;
  margin-bottom: 24px;
}

.image_container {
  margin: 0 auto;
  height: 287.94px;
  width: 287.94px;
  border: 1px solid #000;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: zoom-in;
}

.image_container img {
  max-width: 184.03px;
  max-height: 222.47px;
  transition: 0.2s var(--easing-curve);
}

@media only screen and (min-width: 1280px) {
  .container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 78px;
  }

  .flex_reverse {
    flex-direction: row-reverse;
  }

  .container p {
    max-width: 596.21px;
    margin: 0;
  }

  .image_container {
    width: 493px;
    height: 454.5px;
    margin: 0;
  }

  .expanded_image_container {
    width: 493.65px;
    height: 279px;
  }

  .image_container img {
    max-width: 423.713px;
    max-height: 270px;
  }
}
