.container {
  margin: 0;
  margin-bottom: 40px;
}

.container:last-child {
  margin-bottom: 0;
}

.container p {
  color: var(--body-text);
  margin: 0;
  margin-bottom: 24px;
}

.image_container {
  margin: 0 auto;
  height: 287.94px;
  width: 287.94px;
  border: 1px solid #000;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image_container img {
  max-width: 184.03px;
  max-height: 222.47px;
}
